@import "https://unpkg.com/open-props";

.firstDiv {
    color: #eae6e5;
    margin-bottom: 0.5rem;
    margin-top: 5rem;
}

.secondDiv {
    color: #eae6e5;
    font-weight: 400;
}
#tsparticles {
    position: absolute;
    width: 100%;
    max-height: 95vh;
    z-index: -1;
}

.wrapperDiv {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    min-height: 105vh;
}

#Ilmar {
    font-weight: 600;
    font-size: 4rem;
    color: #b0374d;
}

.thirdDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

#workBtn {

    /*https://codepen.io/t_afif/pen/bGooZmq*/

    --border: 2px;    /* the border width */
    --slant: 0.5em;   /* control the slanted corners */
    --color: #b0374d; /* the color */

    font-size: 2rem;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background:
            linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
            linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
            0 0 0 200px inset var(--s,#0000),
            0 0 0 var(--border) inset var(--color);
    clip-path:
            polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );
    transition: color var(--t,0.3s), background-size 0.3s;
}

#workBtn:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
}
#workBtn:hover,
#workBtn:active{
    background-size: 100% 100%;
    color: #eae6e5;
    --t: 0.2s 0.1s;
}
#workBtn:active {
    --s: #0005;
    transition: none;
}

@keyframes typing {
    0.0000%, 27.3488% {
        content: "";
    }
    1.1395%, 26.2093% {
        content: "d";
    }
    2.2791%, 25.0698% {
        content: "de";
    }
    3.4186%, 23.9302% {
        content: "dev";
    }
    4.5581%, 22.7907% {
        content: "deve";
    }
    5.6977%, 21.6512% {
        content: "devel";
    }
    6.8372%, 20.5116% {
        content: "develo";
    }
    7.9767%, 19.3721% {
        content: "develop";
    }
    9.1163%, 18.2326% {
        content: "develope";
    }
    10.2558%, 17.0930% {
        content: "developer";
    }
    11.3558%, 16.0030% {
        content: "developer.";
    }


    30.7674%, 51.2791% {
        content: "";
    }
    31.9070%, 50.1395% {
        content: "s";
    }
    33.0465%, 49.0000% {
        content: "st";
    }
    34.1860%, 47.8605% {
        content: "stu";
    }
    35.3256%, 46.7209% {
        content: "stud";
    }
    36.4651%, 45.5814% {
        content: "stude";
    }
    37.6047%, 43.4419% {
        content: "studen";
    }
    38.6047%, 42.4419% {
        content: "student";
    }
    39.7047%, 41.3419% {
        content: "student.";
    }


    54.6977%, 75.2093% {
        content: "";
    }
    55.8372%, 74.0698% {
        content: "t";
    }
    56.9767%, 72.9302% {
        content: "te";
    }
    58.1163%, 71.7907% {
        content: "tec";
    }
    59.2558%, 70.6512% {
        content: "tech";
    }
    60.3953%, 69.5116% {
        content: "techi";
    }
    61.5349%, 68.3721% {
        content: "techie";
    }
    62.6744%, 67.2326% {
        content: "techie.";
    }

    78.6279%, 96.8605% {
        content: "";
    }
    79.7674%, 95.7209% {
        content: "l";
    }
    80.9070%, 94.5814% {
        content: "le";
    }
    82.0465%, 93.4419% {
        content: "lea";
    }
    83.1860%, 92.3023% {
        content: "lead";
    }
    84.3256%, 91.1628% {
        content: "leade";
    }
    85.4651%, 90.0233% {
        content: "leader";
    }
    86.6047%, 88.8837% {
        content: "leader.";
    }
}

.typewriter {
    font-weight: 600;
}

.typewriter::before {
    content: "";
    animation: typing 10s infinite;
}

@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }

    @keyframes sequencePopup {
        0%, 100% {
            content: "developer";
        }
        25% {
            content: "student";
        }
        50% {
            content: "techie";
        }
        75% {
            content: "leader";
        }
    }
    .sequencePopup::before {
        content: "developer";
        animation: none;
    }
}


