/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8d243a;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

root {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    background-color: #252525;
}
.particleWrapper {
    visibility: hidden;
}

.particleWrapper.fixed {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}


/*mobile warning*/
.mobile-warning {
    display: none;
}

/*mobile warning*/
.mobile-warning {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .mobile-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        background-color: #FFC107;
        text-align: center;
        z-index: 9999;
        padding: 10px;
    }
    body {
        overflow: auto;
        padding-bottom: 60px;
    }
}
